<launch>
<!-- Load joint controller configurations from YAML file to parameter server: -->
  <rosparam file="$(find stintboat_control)/config/stintboat_control.yaml" command="load"/>
<!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/stintboat" args="joint_state_controller
                                              sail_controller
                                              rudder_controller"/>
<!-- Convert joint states to TF transforms for RVIZ: -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/stintboat/joint_states"/>
  </node>
</launch>