<?xml version="1.0"?>
<robot name="stintboat">

<!-- LINKS -->
<!-- Based on format described in: https://classic.gazebosim.org/tutorials?tut=ros_urdf  -->
<!-- Inertial and origin values where taken from the Fusion360 model. -->
  <link name="dummy_link">
  </link>

<!-- Hull -->
  <link name="base_link">
    <inertial>
      <mass value="204.1612"/>
      <inertia ixx="6.489236" ixy="-0.002075" ixz="0.793396" iyy="43.15021" iyz="-0.000481" izz="47.153377"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/hull.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/hull.dae"/>
      </geometry>
    </collision>
  </link>

<!-- Mast -->
  <link name="mast_link">
    <inertial>
      <mass value="1.2864"/>
      <inertia ixx="0.181252" ixy="0.0" ixz="0.0" iyy="0.181252" iyz="0.0" izz="0.000145"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/mast.dae"/>
      </geometry>
      <origin xyz="0.00957 0 0.003"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/mast.dae"/>
      </geometry>
      <origin xyz="0.00957 0 0.003"/>
    </collision>
  </link>

<!-- Sail -->
  <link name="sail_link">
    <inertial>
      <mass value="24.592097"/>
      <inertia ixx="2.056729" ixy="0.0" ixz="0.0" iyy="2.235259" iyz="0.0" izz="0.193305"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/sail.dae"/>
        <origin xyz="0.00957 0 0.0080"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/sail.dae"/>
        <origin xyz="0.00957 0 0.0080"/>
      </geometry>
    </collision>
  </link>

<!-- Pole -->
  <link name="pole_link">
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0174" ixy="0.0" ixz="0.0" iyy="0.04834" iyz="0.0" izz="0.20834"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/pole.dae"/>
        <origin xyz="0.00175 0 0.0050"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/pole.dae"/>
        <origin xyz="0.00175 0 0.0050"/>
      </geometry>
    </collision>
  </link>

<!-- Rudder -->
  <link name="rudder_link">
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0435" ixy="0.0" ixz="0.0" iyy="0.012085" iyz="0.0" izz="0.05285"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/rudder.dae"/>
      </geometry>
      <origin xyz="0.00175 0 0.0030"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://stintboat_description/meshes/rudder.dae"/>
      </geometry>
      <origin xyz="0.00175 0 0.0030"/>
    </collision>
  </link>

<!-- LINK MATERIALS -->
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="mast_link">
    <material>Gazebo/Gray</material>
  </gazebo>

  <gazebo reference="sail_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="pole_link">
    <material>Gazebo/Gray</material>
  </gazebo>

  <gazebo reference="rudder_link">
    <material>Gazebo/White</material>
  </gazebo>

<!-- JOINTS -->
<!-- Based on format described in: http://wiki.ros.org/urdf/XML/joint -->
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy_link"/>
    <child link="base_link"/>
  </joint>

  <joint name="base_mast_joint" type="revolute">
    <parent link="base_link"/>
    <child link="mast_link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <origin xyz="0.00957 0 0.003"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
  </joint>

  <joint name="mast_sail_joint" type="fixed">
    <parent link="mast_link"/>
    <child link="sail_link"/>
    <origin xyz="0.0 0.0 0.0080"/>
  </joint>

  <joint name="base_pole_joint" type="revolute">
    <parent link="base_link"/>
    <child link="pole_link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <origin xyz="0.00175 0 0.0050"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
  </joint>

  <joint name="pole_rudder_joint" type="fixed">
    <parent link="pole_link"/>
    <child link="rudder_link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <origin xyz="0.00175 0 0.0050"/>
  </joint>

<!-- TRANSMISSION ELEMENTS -->
<!-- Based on format described in: https://wiki.ros.org/urdf/XML/Transmission -->
  <transmission name="sail_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="base_mast_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="mast_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="rudder_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="base_pole_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="rudder_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- PLUGINS -->
<!-- Plugin: gazebo_ros_control  -->
<!-- Based on format described in: https://github.com/ros-simulation/gazebo_ros_pkgs  -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/stintboat</robotNamespace>
    </plugin>
  </gazebo>
<!-- Plugin: usv_gazebo_dynamics_plugin  -->
<!-- Based on format described in: http://wiki.ros.org/usv_gazebo_plugins -->
  <gazebo>
    <plugin filename="libusv_gazebo_dynamics_plugin.so" name="usv_dynamics_wamv_dynamics_plugin">
      <bodyName>base_link</bodyName>
      <waterLevel>-0.3</waterLevel>
      <waterDensity>997.8</waterDensity>
<!-- Added mass -->
      <xDotU>0.0</xDotU>
      <yDotV>0.0</yDotV>
      <nDotR>0.0</nDotR>
<!-- Linear and quadratic drag -->
      <xU>51.3</xU>
      <xUU>72.4</xUU>
      <yV>40.0</yV>
      <yVV>0.0</yVV>
      <zW>500.0</zW>
      <kP>50.0</kP>
      <mQ>50.0</mQ>
      <nR>400.0</nR>
      <nRR>0.0</nRR>
<!-- General dimensions -->
      <boatArea>3.674</boatArea>
      <hullRadius>0.213</hullRadius>
      <boatWidth>0.63</boatWidth>
      <boatLength>2.001</boatLength>
<!-- Length discretization, AKA, "N" -->
      <length_n>2</length_n>
<!-- Wave model -->
      <wave_model>ocean_waves</wave_model>
    </plugin>
  </gazebo>
<!--Plugin: usv_gazebo_wind_plugin -->
  <gazebo>
    <plugin filename="libusv_gazebo_wind_plugin.so" name="wind">
<!-- models to be effected by the wind -->
      <wind_obj>
        <name>wamv</name>
        <link_name>base_link</link_name>
        <coeff_vector>0.5 0.5 0.33</coeff_vector>
      </wind_obj>
<!-- Wind -->
      <wind_direction>270</wind_direction>
<!-- in degrees -->
      <wind_mean_velocity>10</wind_mean_velocity>
      <var_wind_gain_constants>100</var_wind_gain_constants>
      <var_wind_time_constants>5</var_wind_time_constants>
      <random_seed></random_seed>
<!-- set to zero/empty to randomize -->
      <update_rate>10</update_rate>
    </plugin>
  </gazebo>
</robot>
