<launch>

<rosparam file="$(find sailboat_fabric_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="sailboat_fabric" args="base_mast_joint_position_controller basE_pole_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/sailboat_fabric/joint_states"/>
</node>

</launch>