<?xml version="1.0" ?>
<robot name="cubo" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find cubo_description)/urdf/materials.xacro" />
<xacro:include filename="$(find cubo_description)/urdf/cubo.trans" />
<xacro:include filename="$(find cubo_description)/urdf/cubo.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.5" rpy="0 0 0"/>
    <mass value="7849.999999999999"/>
    <inertia ixx="1308.333333" iyy="1308.333333" izz="1308.333333" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://cubo_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://cubo_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="sail_link_1">
  <inertial>
    <origin xyz="0.11414344795479885 -5.598401467138424e-15 -0.49999999999999956" rpy="0 0 0"/>
    <mass value="21.03638080012382"/>
    <inertia ixx="1.757501" iyy="2.044229" izz="0.295667" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -2.3" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://cubo_description/meshes/sail_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -2.3" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://cubo_description/meshes/sail_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="mast_link_1">
  <inertial>
    <origin xyz="0.0 0.0 0.6499999999999995" rpy="0 0 0"/>
    <mass value="7.213489431723865"/>
    <inertia ixx="1.016306" iyy="1.016306" izz="0.000812" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -1.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://cubo_description/meshes/mast_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -1.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://cubo_description/meshes/mast_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="joint2" type="fixed">
  <origin xyz="0.0 0.0 1.3" rpy="0 0 0"/>
  <parent link="mast_link_1"/>
  <child link="sail_link_1"/>
</joint>

<joint name="joint1" type="fixed">
  <origin xyz="0.0 0.0 1.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="mast_link_1"/>
</joint>

</robot>
